$about-sidebar-width = 35vw
$about-content-width = 65vw

.about-container
  position relative
  display block
  width 100%
  
  button
    background $brand-orange
    border-radius 3px
    color $white
    letter-spacing 0.2em
    margin 1em 0
    min-width 225px
    padding 1.5em 1.5em 1.6em
    text-transform uppercase
    transition background-color 0.25s
    &:hover
      background darken($brand-orange, 10%)
      transition background-color 0.25s

.about-sidebar
  max-width 400px
  height 100%
  position fixed
  top 0
  left 0
  border-right 1px solid $gray-light
  padding 60px 30px

  &__logo
    width 100%
    height 100px
    margin 0 auto 3em
    background url('/images/afesg-notext-logo.png') no-repeat center center
    background-size contain
    text-align center

  button
    background $brand-dark
    width 100%
    &:hover
      background $brand-dark-md

  .about-menu
    position static
    
    &__item
      background $white
      border-top 1px solid $gray-lightest
      font-size 0.95em
      font-weight bold
      width 100%
      transition background-color 0.25s
      &:hover
        background lighten($gray-lightest, 25%)
        transition background-color 0.25s
      &:last-child
        border-bottom 1px solid $gray-lightest
      
      a
        color $brand-dark-md
        display block
        padding 0.75em
        position relative
        text-decoration none
        transition color 0.25s
        &:hover
          color darken($brand-dark-md, 35%)
          transition color 0.25s
          &:after
            opacity 1
            transition opacity 0.25s
        &:after
          background url('/images/chevron-bold-down.svg') no-repeat 50% 70%
          background-size 100%
          content ''
          display inline-block
          height 12px
          opacity 0
          position absolute
          right 1em
          top 38%
          -ms-transform rotate(-90deg)
          -webkit-transform rotate(-90deg)
          transform rotate(-90deg)
          width 12px
          transition opacity 0.25s
                
      &.active
        background $gray-lightest
        &:after
          background url('/images/chevron-bold-down.svg') no-repeat 50% 70%
          background-size 100%
          content ''
          display inline-block
          height 12px
          position absolute
          right 1em
          top 38%
          -ms-transform rotate(-90deg)
          -webkit-transform rotate(-90deg)
          transform rotate(-90deg)
          width 12px
  
  &__actions
    margin-top 30px
      
  
  
.about-content
  font-size 0.95em
  position relative
  width $about-content-width
  height 100%
  margin-left $about-sidebar-width
  overflow-y auto
  padding 30px 60px
  
  &__section
    position relative
    max-width 700px
    width 100%
    height auto
    padding-bottom 40px
    margin-bottom 20px
    border-bottom 1px solid #dddddd
    
  h2
    color $brand-dark
    font-size 38px
    margin 0 0 1em
    padding-top 1em

  h3
    color $brand-dark
    font-size 26px
    margin 1em 0
  p
    color $brand-dark
    margin 1.5em 0
  
  a
    text-decoration none
    color darken($central-africa, 20%)
    &:hover
      text-decoration underline
  

.about-us, .partners-resources
  &__link-grid
    position relative
    
    &:after
      display block
      width 100%
      height 0
      content ''
      clear both
    
    &__link
      float left
      width 33%
      height 120px
      background transparent no-repeat center center
      background-size contain
      text-align center
      margin 30px 0
      overflow hidden
      text-overflow hidden
      text-indent -9999px

      &.iucn
        background-image url(/images/IUCN-logo.png)
        background-size 45%
      &.ssc
        background-image url(/images/SSC-logo.png)
        background-size 65%
      &.afesg
        background-image url(/images/afesg-logo.png)
        background-size 70%
        
.partners-resources
  &__link-grid
    &__link
      width 50%
      
      &.aef
        background-image url(/images/AEF-logo.png)
        background-size 50%
      &.awf
        background-image url(/images/AWF-logo.png)
        background-size 65%
      &.ste
        background-image url(/images/STE-logo.png)
        background-size 50%
      &.mike
        background-image url(/images/MIKE-logo.png)
        background-size 40%
      &.defra
        background-image url(/images/DEFRA-logo.png)
        background-size 50%
      &.tusk
        background-image url(/images/Tusk-logo.png)
        background-size 50%
      &.wwf
        background-image url(/images/WWF-logo.png)
      &.usfws
        background-image url(/images/USFWS-logo.png)
      &.asesg
        background-image url(/images/AsESG-logo.png)
        background-size 50%
      &.ec
        background-image url(/images/EC-logo.png)
        background-size 35%
      &.cites
        background-image url(/images/CITES-logo.png)
        background-size 40%
      &.solertium
        background-image url(/images/solertium-logo.png)
        background-size 50%
        
.reports
  .reports__list
    &__item
      border-top 1px solid $gray-lightest
      clear both
      display table
      padding-top 2em
      margin-top 2em
      width 100%
      .report__image
        border 1px solid $gray-lightest
        display table-cell
        width 150px
        transition border-color 0.25s
        &:hover
          border 1px solid $gray-light
          transition border-color 0.25s
    .reports__details
      display table-cell
      padding-left 1.5em
      vertical-align top