.about-title-container
  display none
  
.about-logo
  display block

.about-menu
  width 20vw
  height 100%
  position absolute
  top 0
  left 0
  
.about-content
  position relative
  width 80vw
  height 100%
  margin-left 20vw
  overflow-y auto
  
  &__section
    position relative
    width 100%
    height 100%