.breadcrumb-nav
  -webkit-box-shadow 2px 0px 5px rgba(0, 0, 0, 0.2)
  -moz-box-shadow 2px 0px 5px rgba(0, 0, 0, 0.2)
  box-shadow 2px 0px 5px rgba(0, 0, 0, 0.2)
  position absolute
  top 0
  left 0
  background white
  padding 0 0.5em
  z-index 2
  width 100%
  overflow hidden
  
.breadcrumb-nav__link
  border-bottom 1px solid transparent
  padding 10px
  text-decoration none
  text-transform uppercase
  color lighten($brand-dark-md, 35%)
  font-size 0.7em
  font-weight 300
  letter-spacing 0.15em
  transition color 0.2s
  &:hover
    color $brand-dark
    transition color 0.2s
  &.color--region-west-africa,
  &.color--region-central-africa,
  &.color--region-eastern-africa,
  &.color--region-southern-africa
    font-size 0.72em
    font-weight 600
    pointer-events none
    transition none
    &:hover
      color inherit
      transition none

.breadcrumb-nav__link,
.breadcrumb-nav__separator
  display inline-block
  vertical-align center

.breadcrumb-nav__separator
  color #999
  opacity .4
  font-size 13px
  transform translateY(-1px)

main.main--closed &
  .breadcrumb-nav
    transition padding 300ms ease-in-out, background 300ms
    background transparent
    z-index 3
    -webkit-box-shadow none
    -moz-box-shadow none
    box-shadow none
    padding-left 35px
      
    .breadcrumb-nav__link
      transition all 300ms ease-in-out
      color white
      font-size 0.65em
      letter-spacing 0.2em
      opacity 0.8
      padding-top 10px
      font-weight 100
      transition opacity .25s
      &:hover
        opacity 1
        transition opacity .25s
      
    .breadcrumb-nav__separator
      color #f8f8f8
      font-size 0.6em
      
    span:first-child
      .breadcrumb-nav__link
        padding-left 0
    
    span:last-child
      .breadcrumb-nav__link
        font-weight bold
        opacity 1