.breadcrumb-nav
  -webkit-box-shadow 2px 0px 5px rgba(0, 0, 0, 0.2)
  -moz-box-shadow 2px 0px 5px rgba(0, 0, 0, 0.2)
  box-shadow 2px 0px 5px rgba(0, 0, 0, 0.2)
  position absolute
  top 0
  left 0
  background white
  padding 0 0.5em
  z-index 2
  width 100%
  overflow hidden

.breadcrumb-nav__link
  border-bottom 1px solid transparent
  padding 12px
  display block
  text-decoration none
  text-transform uppercase
  color rgba(black, .5)
  font-size 0.76em
  font-weight bold
  letter-spacing 0.1em
  &:hover
    border-bottom 1px solid $light-gray
    transition border-color 0.05s

.breadcrumb-nav__link,
.breadcrumb-nav__separator
  display inline-block
  vertical-align center

.breadcrumb-nav__separator
  color #999
  opacity .4
  font-size 13px
  transform translateY(-1px)
