.bg--region-southern-africa
  background $southern-africa

.bg--region-eastern-africa
  background $eastern-africa

.bg--region-central-africa
  background $central-africa

.bg--region-west-africa
  background $west-africa

.color--region-southern-africa
  color $southern-africa

.color--region-eastern-africa
  color $eastern-africa

.color--region-central-africa
  color $central-africa

.color--region-west-africa
  color $west-africa
