.bg--region-southern-africa
  background $southern-africa

.bg--region-eastern-africa
  background $eastern-africa

.bg--region-central-africa
  background $central-africa

.bg--region-west-africa
  background $west-africa

.color--region-southern-africa
  color $southern-africa
  
  .search__result-item &
  	transition 300ms ease color, 300ms ease text-decoration

.color--region-eastern-africa
  color $eastern-africa
  
  .search__result-item &
  	transition 300ms ease color, 300ms ease text-decoration

.color--region-central-africa
  color $central-africa
  
  .search__result-item &
  	transition 300ms ease color, 300ms ease text-decoration

.color--region-west-africa
  color $west-africa
  
  .search__result-item &
  	transition 300ms ease color, 300ms ease text-decoration
