.subgeography-totals
  tr
    border-bottom 1px solid #dcdcdc
    border-top 1px solid #dcdcdc
    border-collapse collapse

.subgeography-totals__subgeography-name
  font-weight 700
  padding 10px 0
  span
    color $text-light
    font-weight 400
    font-size 88%

.subgeography-totals__estimate
  font-weight 700
  width 10%
  text-align right
