.subgeography-totals
  font-size 0.9em
  tbody tr
    background transparent
    border-top none
    border-bottom 1px solid $gray-light
    border-collapse collapse
    transition background-color 0.3s
    &:hover
      background #f8f8f8
      transition background-color 0.3s
  thead tr
    border-top 0
  th:not(:first-child), td:not(:first-child)
    text-align right
  td
    padding 0.9em 0.65em
  
  &--input-zone
    td
      padding 0.9em 0.65em 0.9em 22px
    tbody tr
      border-bottom none
    
    .sidebar__map-link
      position relative
      &:before
        content '-'
        display inline-block
        position absolute
        left -0.75em
    
  &--causes-of-change
    margin-top: 30px

.subgeography-totals__subgeography-name
  position relative
  font-weight 700
  padding 0.8em 0
  span
    color $text-light
    display inline-block
    font-weight 400
    font-size 88%
    margin-left 0.2em
  
  .sidebar__glossary-link
    position static
    display inline-block

.subgeography-summary
  color $text-light
  display inline-block
  font-weight 400
  font-size 88%
  margin-left 0.3em

.subgeography__input-zone
  position relative
  padding-right 28%
  &__totals
    display block
    position absolute
    right 0
    top 0

.subgeography-totals__estimate
  font-weight 700
  width 10%
  text-align right

.subgeography-totals__totals
  font-weight bold
  border-bottom 0 !important
  border-top 1px solid black !important

.table-fullwidth
  margin-bottom 4em
  thead
    border-bottom 2px solid $gray-light
    th
      color $brand-dark-md
      padding-bottom 1em
    .th-parent
      color $gray-medium
      font-size 0.75em
      font-weight 600
      letter-spacing 0.15em
      text-transform uppercase
  tbody tr 
    border-bottom 1px solid $gray-lightest
  .subgeography-totals__totals
    border-top 2px solid $gray-light !important