.subgeography-totals
  tbody tr
    border-top 1px solid #dcdcdc
    border-collapse collapse
  thead tr
    border-top 0
  th:not(:first-child), td:not(:first-child)
    text-align right

.subgeography-totals__subgeography-name
  font-weight 700
  padding 10px 0
  span
    color $text-light
    font-weight 400
    font-size 88%

.subgeography-totals__estimate
  font-weight 700
  width 10%
  text-align right

.subgeography-totals__totals
  font-weight bold
  border-bottom 0 !important
  border-top 1px solid black !important