.error
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background black
  color white
  z-index 1010
  background #282828 url('/images/aed-intro-background.jpg') no-repeat 20% 50%
  background-size cover
  
  &__content
    position absolute
    top 20%
    left 50%
    transform translate(-50%, -50%)
    text-align center
  
  &__number
    font-family 'Noe Display', Georgia, serif
    font-size 4em
    line-height 1
    margin 0
  
  &__title
    display block
    width 100%
    text-align center
    font-family 'Noe Display', Georgia, serif
    font-size 3em
    line-height 1.1
    margin 0.25em 0
    -webkit-font-smoothing: auto