.help-nav
  position absolute
  bottom 20px
  right 15px
  font-weight bold
  padding 10px 14px 7px 13px
  border-radius 50%
  line-height 1
  text-align center
  font-size 20px
  background #fff url(/images/icon-about.svg) no-repeat 50% 50%
  background-size 32%
  -moz-box-shadow 0 0 6px rgba(0, 0, 0, 0.35)
  -webkit-box-shadow 0 0 6px rgba(0, 0, 0, 0.35)
  -o-box-shadow 0 0 6px rgba(0, 0, 0, 0.35)
  -ms-box-shadow 0 0 6px rgba(0, 0, 0, 0.35)
  box-shadow 0 0 6px rgba(0, 0, 0, 0.35)
  color transparent
  text-decoration none
  
  .sidebar--open &
    transition right 250ms ease-in-out
    right calc(35% + 15px)

.secondary-nav
  position fixed
  transition bottom 350ms ease-in-out, right 350ms ease-in-out, height 350ms ease-in-out, width 350ms ease-in-out
  float right
  &.inactive
    height 0
    width 0
    bottom -100%
    right -100%
  &.active
    width 100%
    height 100%
    background #fff
    z-index 1001
    bottom 0
    right 0
