$border-transparent = rgba(0, 0, 0, 0.2)
$border-width = 3px
$anim-border = #6fd4f2
$anim-duration = 300ms

.loading-spinner
  display inline-block
  margin 0
  font-size  10px
  position relative
  top 5px
  text-indent  -9999em
  border-top  $border-width solid $border-transparent
  border-right $border-width solid $border-transparent
  border-bottom $border-width solid $border-transparent
  border-left $border-width solid $anim-border
  -webkit-animation  load $anim-duration infinite linear
  animation  load $anim-duration infinite linear

.loading-spinner,
.loading-spinner::after
  border-radius 50%
  width 20px
  height 20px

@-webkit-keyframes load
  0%
    -webkit-transform  rotate(0deg)
    transform  rotate(0deg)
  100%
    -webkit-transform  rotate(360deg)
    transform  rotate(360deg)

@keyframes load
  0%
    -webkit-transform  rotate(0deg)
    transform  rotate(0deg)
  100%
    -webkit-transform  rotate(360deg)
    transform  rotate(360deg)

.loading-overlay
  transition opacity 300ms, z-index 300ms 100ms, width 250ms
  background rgba(#222, 0.5) no-repeat center center;
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 1
  background-image url(/images/loading-circle.gif);
  background-size 60px auto

  .sidebar--open &
    width 65%
  
  &.dismissed
    opacity 0
    z-index -2
  
  
  
