$stroke-opacity = 0
$fill-opacity = 0.15
$hover-fill-opacity = 0.08

.leaflet-container
  width 100%
  height 100%
  
.leaflet-control-container
  position absolute
  width 100%
  top auto !important
  bottom 0
  z-index 1

.leaflet-bottom .leaflet-control
  margin-bottom 0
  bottom 75px
  right 8px

// .main__container.breadcrumbs-active .leaflet-control-container
//   top 56px

.leaflet-marker-icon
  position relative

.leaflet-marker-icon.eastern-africa
  margin-left 1.5em !important

.leaflet-marker-icon__label
  width 200px
  text-align center
  display table
  margin 0 auto
  left -100px
  position absolute
  color #fff
  text-shadow 1px 2px rgba(0,0,0,0.15)
  font-weight bold
  text-transform uppercase
  letter-spacing 3px
  -webkit-font-smoothing antialiased
  pointer-events none

.mapsvg
  stroke-opacity $stroke-opacity
  fill-opacity $fill-opacity
  stroke-opacity 0.75
  stroke-width 1.5
  stroke-alignment inner
  &:hover
    fill-opacity 0.8
    stroke-opacity 1
    stroke-width 2.5

/* hide norhern africa's label */
h1.region-4
  display none

path
  transition fill-opacity 200ms ease-in-out, stroke-width 200ms ease-in-out
  fill-opacity 0
  stroke-opacity 0
  &.north-africa
    stroke-opacity 0
    fill-opacity 0
  &.eastern-africa
    stroke $eastern-africa
    fill $eastern-africa
    stroke-opacity 1
    @extend .mapsvg
    &:hover
      stroke darken($eastern-africa, 20%)
  &.central-africa
    stroke $central-africa
    fill $central-africa
    stroke-opacity 1
    @extend .mapsvg
    &:hover
      stroke darken($central-africa, 20%)
  &.west-africa
    stroke $west-africa
    fill $west-africa
    stroke-opacity 1
    @extend .mapsvg
    &:hover
      stroke darken($west-africa, 20%)
  &.southern-africa
    stroke $southern-africa
    fill $southern-africa
    stroke-opacity 1
    @extend .mapsvg
    &:hover
      stroke darken($southern-africa, 20%)

.adjacent
  transition stroke 200ms ease-in-out, fill 200ms ease-in-out, fill-opacity 200ms ease-in-out, stroke-width 200ms ease-in-out, stroke-opacity 200ms ease-in-out
  stroke #999999
  fill #dddddd
  fill-opacity 0
  stroke-opacity 1
  stroke-width 1.5
  
  &:hover
    stroke-opacity 0.8
    fill-opacity $hover-fill-opacity
  
  &--west-africa
    stroke $west-africa
    stroke-opacity 0.25
    &:hover
      stroke $west-africa
      stroke-opacity 1
      fill $west-africa
  
  &--southern-africa
    stroke $southern-africa
    stroke-opacity 0.25
    &:hover
      stroke $southern-africa
      stroke-opacity 1
      fill $southern-africa 
  
  &--eastern-africa
    stroke $eastern-africa
    stroke-opacity 0.25
    &:hover
      stroke $eastern-africa
      stroke-opacity 1
      fill $eastern-africa 
  
  &--central-africa
    stroke $central-africa
    stroke-opacity 0.25
    &:hover
      stroke $central-africa
      stroke-opacity 1
      fill $central-africa

.region-west-africa__country,
.region-west-africa__stratum
  stroke $west-africa
  fill $west-africa
  stroke-opacity 1
  fill-opacity 0
  stroke-width 1.5

.region-west-africa__country
  fill-opacity 0
  stroke-opacity 0.65
  
  &:hover
    fill-opacity 0.08
    stroke-opacity 1

.region-west-africa__stratum
  fill-opacity 0.1
  stroke-width 1.75
  main.selected-zone &
    stroke-opacity 0.7
  &:hover
    fill-opacity 0.35
    stroke-opacity 1
  &.active
    fill-opacity 0.5

.region-central-africa__country,
.region-central-africa__stratum
  stroke $central-africa
  fill $central-africa
  stroke-opacity 1
  fill-opacity 0.02
  stroke-width 1.5

.region-central-africa__country
  fill-opacity 0
  stroke-opacity 0.65
  
  &:hover
    fill-opacity 0.08
    stroke-opacity 1

.region-central-africa__stratum
  fill-opacity 0.1
  stroke-width 1.75
  main.selected-zone &
    stroke-opacity 0.7
  &:hover
    fill-opacity 0.35
    stroke-opacity 1
  &.active
    fill-opacity 0.5

.region-southern-africa__country,
.region-southern-africa__stratum
  stroke $southern-africa
  fill $southern-africa
  stroke-opacity 1
  fill-opacity 0.02
  stroke-width 1.5

.region-southern-africa__country
  fill-opacity 0
  stroke-opacity 0.65
  
  &:hover
    fill-opacity 0.08
    stroke-opacity 1

.region-southern-africa__stratum
  fill-opacity 0.1
  stroke-width 1.75
  main.selected-zone &
    stroke-opacity 0.7
  &:hover
    fill-opacity 0.35
    stroke-opacity 1
  &.active
    fill-opacity 0.5
    
.region-eastern-africa__country,
.region-eastern-africa__stratum
  stroke $eastern-africa
  fill $eastern-africa
  stroke-opacity 1
  fill-opacity 0.02
  stroke-width 1.5
  
.region-eastern-africa__country
  fill-opacity 0
  stroke-opacity 0.65
  
  &:hover
    fill-opacity 0.08
    stroke-opacity 1

.region-eastern-africa__stratum
  fill-opacity 0.1
  stroke-width 1.75
  main.selected-zone &
    stroke-opacity 0.7
  &:hover
    fill-opacity 0.35
    stroke-opacity 1
  &.active
    fill-opacity 0.5  
    
.border
  stroke-width 0
  fill-opacity 0
  pointer-events none
  
.border--eastern-africa.border--region
  stroke $eastern-africa
  fill-opacity 0
  stroke-width 2
  pointer-events none

.border--southern-africa.border--region
  stroke $southern-africa
  fill-opacity 0
  stroke-width 2
  pointer-events none

.border--west-africa.border--region
  stroke $west-africa
  fill-opacity 0
  stroke-width 2
  pointer-events none

.border--central-africa.border--region
  stroke $central-africa
  fill-opacity 0
  stroke-width 2
  pointer-events none

.border--country
  stroke black
  fill-opacity 0
  stroke-width 2
  pointer-events none

.border--country.region--central-africa
  stroke $central-africa
  stroke-opacity 1
  fill $central-africa
  fill-opacity 0

.border--country.region--southern-africa
  stroke $southern-africa
  stroke-opacity 1
  fill $southern-africa
  fill-opacity 0

.border--country.region--eastern-africa
  stroke $eastern-africa
  stroke-opacity 1
  fill $eastern-africa
  fill-opacity 0
  
.border--country.region--west-africa
  stroke $west-africa
  stroke-opacity 1
  fill $west-africa
  fill-opacity 0
  
.stratum-popup
  border-radius none
  opacity 0.85 !important
  border none
  // top -1px
  // top -70px
  &__estimate-confidence
    display block
    font-family 'acumin-pro-condensed', sans-serif
    font-size 2.5em
    font-weight 400
    line-height 1
    margin-bottom 0.15em
    text-align left
    em
      font-size 50%
      font-style normal
    
    &.hidden
      display none 
  
  &__name
    display block
    font-family 'acumin-pro', Helvetica, sans-serif
    font-size 0.9em
    letter-spacing 0.15em
    text-align left
    text-transform uppercase

  .leaflet-popup-content-wrapper
    border-radius 0
    color $white
    padding-top 1px
    text-align center 
    border none
  
  .leaflet-popup-tip-container
    top -1px
    
  &--eastern-africa
    .leaflet-popup-content-wrapper, .leaflet-popup-tip
      background-color $eastern-africa
  &--west-africa
    .leaflet-popup-content-wrapper, .leaflet-popup-tip
      background-color $west-africa
  &--central-africa
    .leaflet-popup-content-wrapper, .leaflet-popup-tip
      background-color $central-africa
  &--southern-africa
    .leaflet-popup-content-wrapper, .leaflet-popup-tip
      background-color $southern-africa

.leaflet-marker-icon
  &.west-africa
    transition opacity 200ms ease-in-out
    opacity 0
    pointer-events none
  &.southern-africa
    transition opacity 200ms ease-in-out
    opacity 0
    pointer-events none
  &.eastern-africa
    transition opacity 200ms ease-in-out
    opacity 0
    pointer-events none
  &.central-africa
    transition opacity 200ms ease-in-out
    opacity 0
    pointer-events none
  &.active
    opacity 1
  
