$stroke-opacity = 0
$fill-opacity = 0.75
$hover-fill-opacity = 0.85

west(alpha = 1)
  rgb(113,99,240, alpha)

eastern($alpha = 1)
  rgb(237,112,113, alpha)

central($alpha = 1)
  rgb(37,110,228, alpha)

southern($alpha = 1)
  rgb(99,203,192, alpha)

.leaflet-container
  width 100%
  height 100%

.leaflet-marker-icon
  position relative

.leaflet-marker-icon__label
  width 200px
  text-align center
  display table
  margin 0 auto
  left -100px
  position absolute
  color #fff
  font-weight bold
  text-transform uppercase
  letter-spacing 3px
  -webkit-font-smoothing antialiased

.mapsvg
  stroke-opacity $stroke-opacity
  fill-opacity $fill-opacity
  stroke-opacity 0.75
  stroke-width 2
  &:hover
    fill-opacity $hover-fill-opacity
    stroke-opacity 1
    stroke-width 2

/* hide norhern africa's label */
h1.region-4
  display none

path
  transition fill-opacity 200ms ease-in-out, stroke-width 200ms ease-in-out

.region-west-africa-country
  stroke #BFE78B
  fill #BFE78B
  stroke-opacity 1
  fill-opacity 0.1
  stroke-width 1.5

.region-central-africa-country
  stroke #70CD8A
  fill #70CD8A
  stroke-opacity 1
  fill-opacity 0.1
  stroke-width 1.5

.region-southern-africa-country
  stroke #69DCC6
  fill #69DCC6
  stroke-opacity 1
  fill-opacity 0.1
  stroke-width 1.5

path[class^=geojson__region__].geography__inactive
  fill #ddd
  fill-opacity 0.3
  stroke #b3b3b3
  stroke-opacity 1
  stroke-width 1

path.geojson__region__southern-africa.geography__active
  fill southern()
  stroke southern()
  fill-opacity 0.08
  stroke-opacity 1
  stroke-width 4

