$stroke-opacity = 0
$fill-opacity = 0.7
$hover-fill-opacity = 0.9

.leaflet-container
  width 100%
  height 100%

.leaflet-marker-icon
  position relative

.leaflet-marker-icon__label
  width 200px
  text-align center
  display table
  margin 0 auto
  left -100px
  position absolute
  color #fff
  font-weight bold
  text-transform uppercase
  letter-spacing 3px
  -webkit-font-smoothing antialiased

.mapsvg
  stroke-opacity $stroke-opacity
  fill-opacity $fill-opacity
  &:hover
    fill-opacity $hover-fill-opacity



path
  transition fill-opacity 150ms ease-in-out
  &.eastern-africa
    stroke #6fd4f2
    fill #6fd4f2
    @extend .mapsvg
  &.central-africa
    stroke #60d085
    fill #60d085
    @extend .mapsvg
  &.west-africa
    stroke #6fd4f2
    fill #6fd4f2
    @extend .mapsvg
  &.southern-africa
    stroke #75e7d0.7
    fill #75e7d0.7
    @extend .mapsvg
