nav
  display flex
  justify-content space-between
  padding 15px $nav-margin
  align-items center

.links__left
  display flex
  justify-content space-between
  width 60%
  align-items center
  &.full-width
    width 100%

.links__right a, span
  margin-left $nav-margin

.nav__link
  text-transform uppercase
  letter-spacing 1px
  text-decoration none
  font-size 14px
  font-weight bold
  line-height 1.2

