.site-nav
  display flex
  justify-content space-between
  padding 15px $nav-margin
  align-items center
  position absolute
  top -2px
  right 10px
  z-index 3
  width 700px

.links__left
  display flex
  justify-content space-between
  width 60%
  align-items center
  &.full-width
    width 100%

.nav__link
  text-transform uppercase
  letter-spacing 1px
  text-decoration none
  font-size 14px
  font-weight bold
  line-height 1.2

.sidebar__toggle
  position fixed
  top 10px
  right 0
  padding 10px 15px
  color #e3e3e3
  cursor pointer
  &.closed
    background $brand-dark-md
    border-radius 6px 0 0 6px
  &.open
    background none
.sidebar__toggle--expand
  right 40px
  &.closed
    right 0
