.site-nav
  display flex
  justify-content space-between
  padding 15px $nav-margin * 1.25 15px $nav-margin
  align-items center
  position absolute
  top -2px
  right 15px
  z-index 3
  width 62%
  //width 700px
    
  &.search-closed
    transition width 400ms ease-in-out
    width 45px
  
  &.search-open
    transition width 200ms ease-in-out

.sidebar--open .site-nav
  padding-right 0

.breadcrumbs-active .site-nav
  top 50px

main.main--closed
  .site-nav
    right 60px

.breadcrumbs-active 
  main.main--closed
    .site-nav
      top -2px

.links__left
  display flex
  justify-content space-between
  width 60%
  align-items center
  &.full-width
    width 100%

.nav__link
  text-transform uppercase
  letter-spacing 1px
  text-decoration none
  font-size 14px
  font-weight bold
  line-height 1.2

.sidebar__toggle
  position fixed
  top 15px
  right 0
  padding 6px 17px
  color $white
  cursor pointer
  &.closed
    background $brand-dark-md
    border-radius 3px 0 0 3px
    transition all 0.3s
    &:hover 
      background darken($brand-dark-md, 15%)
      padding-right 19px
      transition all 0.3s
  &.open
    background none

.breadcrumbs-active .sidebar__toggle.closed
  top 67px

.breadcrumbs-active .sidebar__toggle
  top 15px

.sidebar__toggle--expand
  right 40px
  &.open
    @media (max-width $mobile-max)
      display: none
  &.closed
    right 0
