.glossary.overview
  // .glossary-sidebar, .glossary-sidebar .glossary-menu__list__item
  //   background $eastern-africa
  // .glossary-sidebar .glossary-menu__list__item a
  //   color white
  //   &:hover
  //     color #a6a6a6
  //     &:after
  //       color white
  //       background-image url("/images/chevron-bold-down-white.svg")
  //   &.active
  //     &:after
  //       background-image url("/images/chevron-bold-down-white.svg")
  .glossary-content
    &__section
      margin-top -60px
      padding-top 60px
      padding-bottom 30px
    h2, h3, h4
      margin 0
      padding 0
      line-height 1
    h2
      font-size 2em
      text-decoration underline
      line-height 1.1
    h3
      font-size 1.5em
      line-height 1.4
    h4
      font-size 0.9em
      line-height 1.4
      font-family 'acumin-pro', Helvetica, sans-serif
      font-weight 600
      text-transform uppercase
      margin-bottom 0.5em
    h2 + h3
      margin-top 1em
    h3 + p
      margin-top 0.75em
    
      
