$box = #bababa

.range_geojson
  z-index 100
  stroke #333
  fill #333
  stroke-width 0
  stroke-opacity 0
  pointer-events none
  &.show
    visibility visible
  &.hide
    visibility hidden

.known_geojson
  fill-opacity 0.32

.possible_geojson
  fill-opacity 0.12

.protected_geojson
  fill-opacity 0.04
  z-index 0
  stroke #999
  fill transparent
  stroke-dasharray 2,3
  stroke-width 1
  stroke-opacity 1
  pointer-events none

.doubtful_geojson
  fill-opacity 0.025

.range__item
  display inline-block
  width 100%
  margin 5px 0
  font-weight bold
  font-size 0.85em
  cursor pointer
  &.shown[data-range-type="known"] .range__icon 
    background rgba(51,51,51,0.32)
  &.shown[data-range-type="possible"] .range__icon 
    background rgba(51,51,51,0.12)
  &.shown[data-range-type="protected"] .range__icon 
    background $white
    border 1px dashed #999
  &.hidden .range__icon
    background #eee

.range__icon
  float left
  clear none
  margin-right 10px
  display inline-block
  width 20px
  height 20px
  border-radius 50%
  background #eee
  position relative
  top 2px

.ranges__container
  background #fff
  border-radius 2px
  padding 7px 12px 9px
  position absolute
  left 5%
  z-index 1
  top 15px
  width 230px
  -moz-box-shadow 0 0 5px $box
  -webkit-box-shadow 0 0 5px $box
  -o-box-shadow 0 0 5px $box
  -ms-box-shadow 0 0 5px $box
  box-shadow 0 0 5px $box
  transition color 0.3s
  &:hover
    h3
      color #555
      transition color 0.3s
  h3
    color $text-light
    letter-spacing 0.15em
    font-size 0.75em
    font-weight 500
    text-transform uppercase
    position relative
    cursor pointer
    &:after
      background url('/images/chevron-bold-down.svg') no-repeat 50% 45%
      background-size 70%
      content ''
      height 20px
      position absolute
      width 20px
    &.expanded
      margin-bottom 1em
    &.expanded:after
      background url('/images/chevron-bold-up.svg') no-repeat 50% 45%
      background-size 66%
      content ''
      right 0
      bottom 2px
    &.contracted:after
      background url('/images/chevron-bold-down.svg') no-repeat 50% 45%
      background-size 70%
      content ''
      right 0
      bottom 0

.main__container.breadcrumbs-active .ranges__container
  top 70px

.ranges_dropdown
  padding 5px
  transition max-height 200ms ease-in-out
  overflow hidden
  padding 0
  margin 0
  &.contracted
    max-height 0
  &.expanded
    /* arbitrarily high height (http://stackoverflow.com/a/8331169/931934) */
    max-height 500em
    padding 0 5px
