@import '_variables'
@import 'typography'

aside
  background #f7f7f7
  min-height 100vh
  transition width 250ms
  position relative
  z-index 2
  &.closed
    width 0%
    display none
  &.open
    width 35%
    display block

    @media (max-width $mobile-max)
      width 100%

  &.full
    width 100%
    display block

aside table
  width 100%

  thead
    text-align left

.sidebar__inner
  padding 20px 40px
  background #fff
  -webkit-font-smoothing antialiased
  position relative
  &:first-child
    background $brand-dark
    color #fff
    height 20vh
    min-height 200px
  &:last-child
    overflow-y auto
    height 80vh

.sidebar__year-nav__container
  position relative
  -webkit-font-smoothing auto
  &:after
    position absolute
    content '\203A'
    transform rotate(90deg)
    left 42px
    top 4px

.sidebar__year-nav
  border 1px solid #fff
  border-width 0 0 1px 0
  background transparent
  -webkit-appearance none
  padding 3px 16px 3px 0
  color #fff
  border-radius 0
  font-size 14px
  display table
  position absolute
  li a
    text-decoration none
    color #fff
  li:not(.current)
    display none
  &:hover
    li
      cursor pointer
      display block
      color #fff
      &:hover
        font-weight bold

.sidebar__top-nav
  margin 0 0 15px 0
  padding-left 0
  display flex
  justify-content space-between
  width 70%
  li
    font-size 13px
    position relative
    line-height 1

.sidebar__year__current
  @extend .small-current

.sidebar__viz-type
  margin-left 0
  padding-left 0

.sidebar__viz-toggle
  @extend .small-heading
  line-height 1
  margin-bottom 10px
  display table
  color #fff
  text-decoration none
  padding-bottom 3px
  cursor pointer
  &.active, &:hover
    @extend .small-current

.sidebar__entity-name
  font-family 'Noe Display', Georgia, serif
  font-weight 700
  font-style normal
  font-size 36px
  line-height 36px
  margin 55px 0 20px
  -webkit-font-smoothing auto

.sidebar__stats-table
  width 100%
  margin-bottom 30px
  h3
    @extend .small-heading
  thead
    @extend .small-heading
    color $text-light
    border-bottom 1px solid
    td:last-child
      text-align right
  tbody td,
  thead th
    padding 6px 0
    span
      color $text-light
    &:last-child
      font-weight bold
      text-align right

.sidebar__stats-table.bold-all
  tbody td:first-child
    font-weight bold

.count-type-toggle
  position absolute
  bottom 15px
  right 15px
  display flex
  justify-content space-between
  li
    cursor pointer
    -webkit-font-smoothing auto
    letter-spacing 1px
    font-size 12px
    width 50px
    text-align center
    margin -2px
    &:first-of-type a
      border-radius 4px 0 0 4px
    &:last-of-type a
      border-radius 0 4px 4px 0
    &.active
      cursor text
    &.active a
      background #1E1B1C
      border-top 1px solid #3F3C3D
      border-left 1px solid #3F3C3D
      border-bottom 1px solid #3F3C3D
      transition background 200ms ease-in-out
      cursor text
      pointer-events none
      &:hover
        background lighten(#1E1B1C, 5%)
    &:not(.active) a
      background #4F4C4D
      border 1px solid #313031
      &:hover
        background lighten(#4F4C4D, 5%)
    a
      color #fff
      text-decoration none
      padding 3px 7px

.sidebar__count-summary
  &--causes-of-change
    margin-top 30px

.sidebar__table-container
  border-bottom 2px solid #dcdcdc
  h3
    font-weight 600
    padding 10px 0
    cursor pointer
    position relative
    &:after
      display inline-block
      position absolute
      right 10px
      color $text-light
      top 20%
  &.closed
    h3:after
      content '\276f'
      transform rotate(90deg)
    table
      display none
  &.open
    h3:after
      content '\276f'
      transform rotate(-90deg)
      right 8px
    table
      display table

.sidebar__narrative
  border-bottom 2px solid #dcdcdc
  margin-bottom 10px
  overflow hidden

  h3
    cursor pointer
    margin-bottom 10px
    position relative
    &:after
      color #848585
      content '\276F'
      display inline-block
      position absolute
      right 10px
      top 5%
      transform rotate(90deg)

  &.closed div
    height 0

  &.open div
    height auto

.sidebar__loader
  background-color $brand-dark
  .sidebar__inner
    background-color transparent
    background-image url('/assets/elephant.svg')
    background-size 20%
    background-position center bottom
    background-repeat no-repeat

    height 100%
    text-align center
    width 100%
  h1
    left 50%
    margin 0
    position absolute
    top 50%
    transform translate(-50%, -50%)

.heading__small
  @extend .small-heading

.sidebar__inner.region-southern-africa,
.sidebar__loader.region-southern-africa
  background $southern-africa
  .count-type-toggle
    li.active a
      background darken($southern-africa, 70%)
      color #bbb
      border 1px solid darken($southern-africa, 55%)
    li:not(.active) a
      background darken($southern-africa, 30%)
      color #fff
      border 1px solid darken($southern-africa, 45%)

.sidebar__inner.region-eastern-africa,
.sidebar__loader.region-eastern-africa
  background $eastern-africa
  .count-type-toggle
    li.active a
      background darken($eastern-africa, 70%)
      color #bbb
      border 1px solid darken($eastern-africa, 55%)
    li:not(.active) a
      background darken($eastern-africa, 30%)
      color #fff
      border 1px solid darken($eastern-africa, 45%)

.sidebar__inner.region-central-africa,
.sidebar__loader.region-central-africa
  background $central-africa
  .count-type-toggle
    li.active a
      background darken($central-africa, 70%)
      color #bbb
      border 1px solid darken($central-africa, 55%)
    li:not(.active) a
      background darken($central-africa, 30%)
      color #fff
      border 1px solid darken($central-africa, 45%)

.sidebar__inner.region-west-africa,
.sidebar__loader.region-west-africa
  background $west-africa
  .count-type-toggle
    li.active a
      background darken($west-africa, 70%)
      color #bbb
      border 1px solid darken($west-africa, 55%)
    li:not(.active) a
      background darken($west-africa, 30%)
      color #fff
      border 1px solid darken($west-africa, 45%)
