@import 'typography'

aside
  background #f7f7f7
  min-height 100vh
  transition width 250ms
  &.open
    width 35%
    display block
  &.closed
    width 0%
    display none

.sidebar__inner
  padding 20px 40px
  background #f7f7f7
  &:first-child
    background #ededed
    color black
  h1
    font-size 32px
    margin 25px 0 15px
    font-weight 600

.sidebar__top-nav
  margin 0 0 15px 0
  padding-left 0
  display flex
  justify-content space-between
  width 70%
  li
    font-size 13px
    position relative
    line-height 1

.sidebar__year__current
  @extend .small-current

.sidebar__viz-type
  margin-left 0
  padding-left 0

.sidebar__viz-type li
  @extend .small-heading
  line-height 1
  margin-bottom 10px
  display table
  &.current
    @extend .small-current

.sidebar__stats-table
  width 100%
  margin-bottom 30px
  thead
    @extend .small-heading
    color #bababa
    border-bottom 1px solid
    td:last-child
      text-align right
  tbody td
    padding 3px 0
    &:last-child
      font-weight bold
      text-align right

.sidebar__table-container
  border-bottom 2px solid #dcdcdc
  h3
    font-weight 600
    padding 10px 0
    cursor pointer
    position relative
    &:after
      display inline-block
      position absolute
      right 10px
      color #bababa
  &.closed
    h3:after
      content '\276f'
      transform rotate(90deg)
    table
      display none
  &.open
    h3:after
      content '\276f'
      transform rotate(-90deg)
      right 8px
    table
      display table

.heading__small
  @extend .small-heading
