.total-count
  background rgba(255,255,255,0.9)
  position fixed
  bottom 0
  left 0
  font-family 'acumin-pro-condensed', sans-serif
  padding 0.5em 0.75em
  &__count
    padding-left 0.05em
    padding-top 0.45em
    display block
    font-weight bold
    font-size 3.8em
    margin-bottom 9px
    position relative
    bottom 10px
  small
    display inline-block
    text-transform uppercase
    letter-spacing 0.15em
    color #999
    font-size 9.5px
    font-family 'acumin-pro', Helvetica, sans-serif
    padding 0 0.45em
    margin-bottom 0.5em

.total-count__plus-minus
  font-size 78%
  position relative
  bottom 5px

.total-count__guesses
  position relative
  padding 0.05em 0.3em 0
  line-height 1
  font-size 1.1em
  letter-spacing 0.02em
  text-transform uppercase
