.total-count
  position fixed
  bottom 15px
  left 15px
  div
    font-weight bold
    font-size 50px
    margin-bottom 15px
  small
    display block
    text-transform uppercase
    letter-spacing 1px
    color #bababa
    font-size 11px
