@font-face
  font-family 'Noe Display'
  src url('../fonts/noe_display_bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/noe_display_bold.woff') format('woff')

body
  font-size 16px
  line-height 24px
  font-family 'acumin-pro', Helvetica, sans-serif

.small-heading
  text-transform uppercase
  letter-spacing 1px
  font-size 12px

.small-current
  font-weight 700
  border-bottom 1px solid
  padding-bottom 2px

.indented
  text-indent 1em

.font-normal
  font-weight normal !important

sup
  position relative
  bottom 7px
  right 1px
  font-size 70%

h3 small
  color $text-light
  font-weight 400
  font-size 88%
