.main__container
  position relative
  display flex

main
  width 65%
  transition width 250ms
  position relative
  &.main--full
    width 100%
  &.main--half
    @media (max-width $mobile-max)
      width 0
  &.main--closed
    position static
    width 0

.hidden
  display none

.shown__ib
  display inline-block
