$border = #dedede
$border-md = #C7CACB

$brand-dark-md = #615E5F
$brand-dark = #322F30

$text-light = #848585
$text-light-2 = #A1A2A2

$nav-margin = 40px


$west-africa = #7163f0
$eastern-africa = #ed7071
$central-africa = #256ee4
$southern-africa = #63cbc0

$mobile-max = 800px
