$border = #dedede
$border-md = #C7CACB

$brand-dark-md = #555555
$brand-dark = #322F30
$brand-orange = #ff9800

$text-light = #848585
$text-light-2 = #A1A2A2

$white = #ffffff
$gray-lightest = #f2f2f2
$gray-light = #dddddd

$nav-margin = 40px

$west-africa = #7163f0
$eastern-africa = #ed7071
$central-africa = #256ee4
$southern-africa = #38cebb

$mobile-max = 800px
